@import "public";
@mixin width2 {
    width: 1208px;
    margin: 0 auto;
}

.l-nav {
    @include width2;
    border-bottom:{
        width: 1px;
        style:solid;
        color:#CCCCCC;
    };
    font-size: 15px;
    margin-top: 22px;
    padding-bottom: 22px;
    overflow: hidden;
    ul {
        li {
            float: left;
            color: #666666;
        }
        a {
            color: #666666;
            margin-right: 10px;
            margin-left: 12px;
        }
        
    }
}

.sort{
    @include width2;
    height: 38px;
    background: #fbfbfb;
    margin-top: 20px;
    
    border: {
        width: 1px;
        style:solid;
        color: #e4e4e4;
    };
    span{
        display: block;
        width: 86px;
        float: left;
        line-height: 38px;
        text-align: center;
        color: #94193f;
        font-size: 12px;
        background: #ffffff;
            border-right: {
        width: 1px;
        style:solid;
        color: #e4e4e4;
             };

    }
    ul{
        width: 500px;
        float: left;
        li{
            margin-left: 30px;
            font-size: 12px;
            line-height: 38px;
           float: left;
            a{
                color: #999999;
            }
            b{
                display: inline-block;
                width: 11px;
                height: 11px;
                margin-left: 3px;
                vertical-align: middle;
                background: url(../../images/icon_list.png) repeat scroll ;
            }
            .icon-default{
                background: url(../../images/icon_list.png) repeat scroll -89px -688px;
            }
            .icon-price{
                background: url(../../images/icon_list.png)  -219px -653px;
            }
        }
        li:nth-of-type(4){
            color: #94193f;
            .tv{
                margin-right: 7px;
            }
        }
    }
}


.goods {
    @include width2;
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 30px;
    img {
        width: 290px;
        height: 280px;
    }
    dl {
        float: left;
        margin-right: 10px;
        margin-bottom: 15px;
        width: 290px;
        height: 400px;
        background: #f5f5f5;
        border: {
            width: 1px;
            style: solid;
            color: #eaeaea;
        }
        dd {
            width: 250px;
            margin-left: 10px;
        }
        .t-a {
            font-size: 14px;
            color: #434343;
            padding-top: 14px;
            line-height: 21px;
            margin-bottom: 12px;
        }
        .m {
            font-size: 12px;
            color: #969696;
            text-decoration: line-through;
        }
        .m1 {
            font-size: 16px;
            color: #94193f;
            b {
                font-style: normal;
                font-size: 22px;
            }
        }
    }
}
.pages{
    @include width2;
    text-align: center;
    overflow: hidden;
    a{
        display: block;
        width:80px;
        height: 40px;
        float: left;
        font-size: 13px;
        color: #666666;
        line-height: 40px;
        text-align: center;
        border: {
            width: 1px;
            style:solid;
            color: #E5E5E5;
        };
    }
    .up{
        margin-right: 10px;
        margin-left: 500px;
    }
    a:hover{
        color: #A40339;
        border-color: #A40339;
        
    }
}
