*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
@mixin style {
    height: 38px;
    padding-left: 6px;
    color: #c8c8c8;
    font-size: 12px;
    border: {
        width: 1px;
        style: solid;
        color: #c8c8c8;
    }
}

form {
    width: 330px;   
    margin-right: 25px;
    padding: 0 10px;
    #tel {
        width: 294px;
        @include style;
    }
    #pwd {
        @extend #tel;
    }
    #ipwd {
        @extend #tel;
    }
    #ptel,
    #pmes,
    #ppwd,
    #pPwd,
    #py {
        width: 330px;
        padding-top: 5px;
        height: 25px;
        font-size: 12px;
        color: #c8c8c8;
    }
    .yz {
        width: 300px;
        #message {
            width: 168px;
            height: 38px;
            @include style;
            float: left;
        }
        .btn {
            float: right;
            width: 116px;
            height: 38px;
            margin-bottom: 20px;
            line-height: 38px;
            text-align: center;
            font-size: 12px;
            color: #000000;
            border: {
                width: 1px;
                style: solid;
                color: #c8c8c8;
            }
        }
    }
    #yzm {
        width: 162px;
        @include style;
        float: left;
    }
    #box {
        width: 60px;
        height: 36px;
        font-size: 22px;
        color: mediumseagreen;
        line-height: 36px;
        text-align: center;
        float: left;
        margin-left: 20px;
    }
     #ptel {
            width: 330px;
            padding-top: 5px;
            height: 25px;
            font-size: 12px;
            color: #c8c8c8;
        }
    #py{
            @extend #ptel;
            float: left;            
        }
        #ppwd{
            @extend #py;
                       
        }
    #aa2 {
        height: 36px;
        line-height: 36px;
        font-size: 12px;
        color: red;
        float: left;
        display: inline-block;
        margin-left: 8px;
    }
    .rem{
        float: left;
    }
    #username{
        display: block;
        font-size: 12px;
        color: #000000;
        float: left;
        margin-left: 5px;
    }
    .forpwd{
        display: block;
        font-size: 12px;
        color: #C8C8C8;
        float: right;
        margin-right:50px;
    }
    #login {
        width: 302px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background: #94193f;
        border: none;
        color: #fff;
        cursor: pointer;
      
    }
    .tk {
        margin-top: 10px;
        font-size: 12px;
        input {
            float: left;
            margin-right: 10px;
        }
        .tk-t {
            float: left;
            color: #767676;
            a {
                color: #c41f3a;
            }
        }
    }
}

.log {
    padding-top: 15px;
    p {
        font-size: 12px;
        color: #000000;
    }
    ul {
        width: 300px;
        margin-top: 15px;
        li {
            margin-right: 8px;
            display: inline-block;
        }
        a {
            display: block;
            width: 50px;
            height: 50px;
            background: url(../../src/images/login_icon_list_1.png) no-repeat;
        }
        .hz_qq {
            background-position: -74px -32px;
        }
        .hz_xl {
            background-position: 0 -32px;
        }
        .hz_zfb {
            background-position: -143px -32px;
        }
    }
}
